In [3]:
import numpy as np
import pandas as pd

In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import rcParams
rcParams['figure.figsize'] = 10, 6

In [57]:
train = pd.read_csv("data/train_advanced.csv")

# Exploratory Data Analysis

In [58]:
train.head()

,Date,Store,Item,Sales,Average Rating,Location,Category,Branding
0,1/1/2017,KMart,1,13,2.8,Wheelers Hill VIC 3170,Electronics,Sony
1,1/2/2017,KMart,1,11,1.4,Wheelers Hill VIC 3170,Electronics,Sony
2,1/3/2017,KMart,1,14,1.8,Wheelers Hill VIC 3170,Electronics,Sony
3,1/4/2017,KMart,1,13,1.3,Wheelers Hill VIC 3170,Electronics,Sony
4,1/5/2017,KMart,1,10,2.9,Wheelers Hill VIC 3170,Electronics,Sony

In [59]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821000 entries, 0 to 820999
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            821000 non-null  object
 1   Store           821000 non-null  object
 2   Item            821000 non-null  int64
 3   Sales           821000 non-null  int64
 4   Average Rating  821000 non-null  float64
 5   Location        820260 non-null  object
 6   Category        821000 non-null  object
 7   Branding        821000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 50.1+ MB

### Checking for null values

In [60]:
is_NaN = train.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = train[row_has_NaN]

In [61]:
rows_with_NaN

,Date,Store,Item,Sales,Average Rating,Location,Category,Branding
820260,6/22/2019,SupaIGA,50,83,0.0,NaN,Home & Kitchen,Westinghouse
820261,6/23/2019,SupaIGA,50,78,0.6,NaN,Home & Kitchen,Westinghouse
820262,6/24/2019,SupaIGA,50,101,0.8,NaN,Home & Kitchen,Westinghouse
820263,6/25/2019,SupaIGA,50,82,1.1,NaN,Home & Kitchen,Westinghouse
820264,6/26/2019,SupaIGA,50,97,0.4,NaN,Home & Kitchen,Westinghouse
...,...,...,...,...,...,...,...,...
820995,6/26/2021,SupaIGA,50,82,0.4,NaN,Home & Kitchen,Westinghouse
820996,6/27/2021,SupaIGA,50,83,0.8,NaN,Home & Kitchen,Westinghouse
820997,6/28/2021,SupaIGA,50,91,2.0,NaN,Home & Kitchen,Westinghouse
820998,6/29/2021,SupaIGA,50,122,1.9,NaN,Home & Kitchen,Westinghouse
820999,6/30/2021,SupaIGA,50,112,1.7,NaN,Home & Kitchen,Westinghouse

In [62]:
subset = train[820260:821000]

In [63]:
subset['Location'].unique()

array([nan], dtype=object)

In [64]:
train['Location'].unique()

array(['Wheelers Hill VIC 3170', 'Preston,\xa0VIC,\xa03072',
       'South Melbourne,\xa0VIC\xa03205',
       'Keysborough, VIC, 3173, Australia', 'Mulgrave\xa0VIC\xa03170',
       'Dandenong, VIC, 3175, Australia',
       'Springvale, VIC, 3171, Australia', 'Ringwood VIC 3134',
       ' Epping VIC 3076', 'Mulgrave VIC 3170', nan], dtype=object)